.footer {
  background-color: #6278f7;
  background-image: '/images/fundo.png';
  display: flex;
  justify-content: space-around;
  padding: 32px;
  align-items: center;
  color: #fff;
}

.footer .icons img {
  margin-right: 32px;
}

.footer p {
  font-weight: bolder;
}
